<mat-toolbar-row class="toolbar">
    <div>
       <span class="ruta">&nbsp; Mis Datos</span>
    </div>
    <!-- <button mat-raised-button color="primary" class="btnAnimacion" matTooltip="GUARDAR CAMBIOS" matTooltipPosition="left" >GUARDAR</button> -->

</mat-toolbar-row>

<mat-divider></mat-divider>

<div class="pantalla ">

    <div class="contenedorFoto">

        <mat-card>
            <mat-card-header>
              <mat-card-title>Walter Blanco</mat-card-title>
              <mat-card-subtitle>30001823</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/img/avatar.jpg">
            <mat-card-content>
                <button mat-button><i class="material-icons-outlined icono">camera_alt</i> CAMBIAR FOTO</button>
                <button mat-button routerLink="/sistema/mis_datos/cambiar_clave"><i class="material-icons-outlined icono">https</i> CAMBIAR CONTRASEÑA</button>
                <button mat-button routerLink="/sistema/mis_datos/correo/agregar_correo"><i class="material-icons-outlined icono">mail</i> AGREGAR CORREO</button>


            </mat-card-content>

          </mat-card>

    </div>
    
    <div class="contenedorDatos">

        <mat-tab-group>

            <mat-tab>
              <ng-template mat-tab-label> PERFIL </ng-template>

              <div class="contenedorBloques">

                  <div class="bloque">
                      <mat-form-field class="itemFormulario" >
                          <input matInput placeholder="Nombre" value="Walter Roberto">
                      </mat-form-field>

                      <mat-form-field class="itemFormulario" >
                          <input matInput placeholder="Apellido" value="Blanco">
                      </mat-form-field>

                      <mat-form-field class="itemFormulario" >
                          <input matInput placeholder="DNI" value="30001823">
                      </mat-form-field>

                      <mat-form-field class="itemFormulario" >
                          <mat-select placeholder="Sexo" value="Masculino">
                              <mat-option value="Femenino">Femenino</mat-option>
                              <mat-option value="Masculino">Masculino</mat-option>
                              <mat-option value="Otro">Otro</mat-option>
                            </mat-select>                  
                      </mat-form-field>

                      <mat-form-field class="itemFormulario" >
                          <input matInput placeholder="Legajo" value="45698/3">
                      </mat-form-field>

                  </div>

                  <div class="bloque">

                      <mat-form-field class="itemFormulario" >
                          <input matInput placeholder="Correo electrónico" value="walter.blanco@econo.unlp.edu.ar">
                      </mat-form-field>

                      <mat-form-field class="itemFormulario" >
                          <input matInput placeholder="Correo electrónico" value="lllwalterlll@gmail.com">
                          <button type="button" matSuffix mat-icon-button matTooltip="Eliminar Correo">
                              <mat-icon>delete_outline</mat-icon>
                          </button>
                      </mat-form-field>

                  </div>

              </div>



              
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label> AVANZADO </ng-template>

                <div class="contenedorBloques">

                    <div class="bloque">

                        <mat-form-field class="itemFormulario" >
                            <input matInput [matDatepicker]="picker" class="inputFecha" placeholder="Fecha Nacimiento" >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>                          
                        </mat-form-field>

                        <mat-form-field class="itemFormulario" >
                            <input matInput placeholder="Nacionalidad" value="Argentino">
                        </mat-form-field>
  
                        <mat-form-field class="itemFormulario" >
                            <input matInput placeholder="Ciudad de Nacimiento" value="General Paz - Ranchos - Bs As">
                        </mat-form-field>
  
                        <mat-form-field class="itemFormulario" >
                            <input matInput placeholder="Ciudad de Residencia" value="La Plata">
                        </mat-form-field>
  
                        <mat-form-field class="itemFormulario" >
                            <input matInput placeholder="Dirección" value="48 Nº 681 - 2B">
                        </mat-form-field>
  
                    </div>
  
                    <div class="bloque">

                        <mat-form-field class="itemFormulario" >
                            <input matInput placeholder="Celular" value="2215032505">
                        </mat-form-field>
  
                        <mat-form-field class="itemFormulario" >
                            <input matInput placeholder="Teléfono Fijo" value="2214569872">
                        </mat-form-field>

                        <mat-form-field class="itemFormulario" >
                            <input matInput placeholder="Facebook" value="facebook.com/walterblanco">
                        </mat-form-field>

                        <mat-form-field class="itemFormulario" >
                            <input matInput placeholder="Instagram" value="instagram.com/lllwalterlll">
                        </mat-form-field>

                        <mat-form-field class="itemFormulario" >
                            <input matInput placeholder="Twitter" value="twitter.com/lllwalterlll">
                        </mat-form-field>
  
                    </div>
  
                </div>
                
            </mat-tab>

        
        </mat-tab-group>

    </div>  
    

</div>

