.btnVolver {
    display: inline;
    @media screen and (max-width: 768px) {
      display: none;
  }
  }
  
  .btnVolverCel {
    display: none;
    @media screen and (max-width: 768px) {
      display: inline;
  }
  }
  
  .ruta {
    opacity: .5;
    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
    
   
  .pantalla {
      padding: 20px;
      -webkit-animation: pantalla .8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: pantalla .8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  
  }
  
  @-webkit-keyframes pantalla {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes pantalla {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 300px;
    @media screen and (max-width: 768px) {
    width: 100%;
    }

}


.btnGuardar {
    margin-top: 20px;
    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 20px 10px 20px 10px;
      }
}

.iconos {
  opacity: 0.5;
}

