<mat-toolbar-row>
    <button class="btnVolver" mat-button color="primary" routerLink="/sistema/mis_inscripciones"> <mat-icon>undo </mat-icon> VOLVER </button>
    <button class="btnVolverCel" mat-icon-button color="primary" routerLink="/sistema/mis_inscripciones"> <mat-icon>undo</mat-icon> </button>
    <span class="ruta">&nbsp; Inscripción</span>
</mat-toolbar-row>
      
<mat-divider></mat-divider>
      
 <div class="pantalla">

    <div class="contenedorOfertas">

            <mat-card class="oferta">
                    <mat-card-header>
                        <mat-card-title>PASANTÍA</mat-card-title>
                        <mat-card-subtitle>Estudiantes</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="/assets/img/inscripcion1.jpg">
                    <mat-card-content>
                        <p>Es un sistema regulado por la Ley Nacional 26.427, orientado a brindar la posibilidad de comenzar tu experiencia profesional trabajando como máximo 20 hs semanales. El requisito es cumplir la condición de alumno regular de grado de FCE-UNLP. </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary"> INSCRIBIRME</button>
                    </mat-card-actions>
                    
            </mat-card>

            <mat-card class="oferta">
                    <mat-card-header>
                        <mat-card-title>FULL-TIME</mat-card-title>
                        <mat-card-subtitle>Estudiantes y Graduados</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="/assets/img/inscripcion2.jpg">
                    <mat-card-content>
                            <p>Si estás buscando un empleo en relación de dependencia o mediante contrato de jornada completa. ¡Inscribite! </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary"> INSCRIBIRME</button>
                    </mat-card-actions>
            </mat-card>

            <mat-card class="oferta">
                    <mat-card-header>
                        <mat-card-title>JOVENES PROFESIONALES</mat-card-title>
                        <mat-card-subtitle>Estudiantes avanzados y graduados</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="/assets/img/inscripcion3.jpg">
                    <mat-card-content>
                            <p>Si estás finalizando la Carrera o te graduaste recientemente, podes aplicar para participar de los Programas de Jóvenes profesionales vigentes en las diversas Compañías y Organismos. </p>

                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary"> INSCRIBIRME</button>
                    </mat-card-actions>
            </mat-card>


        

    </div>

</div>

