<mat-toolbar-row class="toolbar">
        <div>
           <span class="ruta">&nbsp; Aplicaciones</span>
        </div>
    
    </mat-toolbar-row>
    
    <mat-divider></mat-divider>
    
    <div class="pantalla ">

        <div class="apps">

            <mat-card class="card slide-top uno">
                    <mat-card-header>
                        <img mat-card-avatar src="/assets/img/apps/logo_usuarios.svg">
                            <mat-card-title>Usuarios</mat-card-title>
                            <mat-card-subtitle>Datos Personales</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="start">
                        <a mat-button href="https://usuarios.econo.unlp.edu.ar" target="_blank">ACCEDER</a>
                    </mat-card-actions>
            </mat-card>
  
            <mat-card class="card slide-top dos">
                    <mat-card-header>
                            <div mat-card-avatar class="au24"></div>
                            <mat-card-title>Au24</mat-card-title>
                            <mat-card-subtitle>Aula Virtual</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="start">
                        <a mat-button href="https://au24.econo.unlp.edu.ar" target="_blank">ACCEDER</a>
                    </mat-card-actions>
            </mat-card>

            <mat-card class="card slide-top tres">
                    <mat-card-header>
                            <div mat-card-avatar class="correo"></div>
                            <mat-card-title>Correo</mat-card-title>
                            <mat-card-subtitle>Correo Electrónico</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="start">
                        <a mat-button href="https://www.google.com/gmail/" target="_blank">ACCEDER</a>
                     </mat-card-actions>
            </mat-card>

            <mat-card class="card slide-top cuatro">
                    <mat-card-header>
                            <div mat-card-avatar class="documentos"></div>
                            <mat-card-title>Documentos</mat-card-title>
                            <mat-card-subtitle>Google Drive</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="start">
                        <a mat-button href="https://drive.google.com" target="_blank">ACCEDER</a>
                    </mat-card-actions>
            </mat-card>

            <mat-card class="card slide-top cinco">
                    <mat-card-header>
                        <img mat-card-avatar src="/assets/img/apps/logo_gelis.svg">
                            <mat-card-title>Gelis</mat-card-title>
                            <mat-card-subtitle>Sistema de legajos</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="start">
                        <a mat-button href="https://gelis.econo.unlp.edu.ar" target="_blank">ACCEDER</a>
                    </mat-card-actions>
            </mat-card>

            <mat-card class="card slide-top seis">
                    <mat-card-header>
                        <img mat-card-avatar src="/assets/img/apps/logo_asistencia.svg">
                        <mat-card-title>Asistencia</mat-card-title>
                        <mat-card-subtitle>Control de asistencia</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="start">
                        <a mat-button href="https://asistencia.econo.unlp.edu.ar" target="_blank">ACCEDER</a>
                    </mat-card-actions>
            </mat-card>

            <mat-card class="card slide-top siete">
                    <mat-card-header>
                        <img mat-card-avatar src="/assets/img/apps/logo_insercion.svg">
                            <mat-card-title>Inserción Laboral</mat-card-title>
                            <mat-card-subtitle>Pasantías Educativas</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="start">
                        <a mat-button href="https://insercionlaboral.econo.unlp.edu.ar" target="_blank">ACCEDER</a>
                    </mat-card-actions>
            </mat-card>

            <mat-card class="card slide-top ocho">
                    <mat-card-header>
                        <img mat-card-avatar src="/assets/img/apps/logo_digesto.svg">
                            <mat-card-title>Digesto</mat-card-title>
                            <mat-card-subtitle>Sistema de Normas</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="start">
                        <a mat-button href="https://digesto.econo.unlp.edu.ar" target="_blank">ACCEDER</a>
                    </mat-card-actions>
            </mat-card>

            <mat-card class="card slide-top nueve">
                    <mat-card-header>
                        <img mat-card-avatar src="/assets/img/apps/logo_tutorias.svg">
                            <mat-card-title>Tutorías</mat-card-title>
                            <mat-card-subtitle>Programa de Tutorías</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="start">
                        <a mat-button href="https://tutorias.econo.unlp.edu.ar" target="_blank">ACCEDER</a>
                   </mat-card-actions>
            </mat-card>
  


   
    
 
        </div>
    
    </div>
    
    