<div class="dialogo">
    <mat-toolbar>
        <span>COMPARTIR <mat-icon>share</mat-icon></span>
    </mat-toolbar>
    <!-- <h3>COMPARTIR <mat-icon>share</mat-icon> </h3> -->
    <p>Usa el link para compartir la lista de postulantes seleccionados. </p>
    <mat-divider></mat-divider>

    <div class="contenedorlink">
        <div><h4>bit.ly/45Ml450K3</h4></div>
        <div>
            <button mat-icon-button> <mat-icon>file_copy_outlined</mat-icon> </button>
            <button mat-icon-button> <mat-icon>open_in_new</mat-icon> </button>
        </div> 
    </div>

    <mat-dialog-actions align="end">
        <button mat-raised-button  mat-dialog-close >CERRAR</button>
    </mat-dialog-actions>


</div>

