

/* ------------------- PRINCIPAL ------------------------- */

.sistema {
  // background-color: white;
  height: 100vh;
}

/* ------------------- CABECERA ------------------------- */

.cabecera {
  z-index: 998;
  position: fixed;
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
                rgba(0, 0, 0, 0.14) 0px 6px 10px 0px,
                rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}

.iconoCabecera {
  margin-right: 10px;
}

.seleccionTema {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-content: center;
}



/* ----------------- MENU PINCIPAL ---------------------- */

.menu {
  width: 250px;
}

.btnMenu {
  width: 100%;
  text-align: left;
  padding: 10px;
}

.iconoMenu {
  margin: 0 10px 0 10px;
  color: gray;
}

.tituloSistema {
  @media screen and (max-width: 768px) {
    display:none;
  }
}

.btnFullScreen {
  opacity: 0.5;
  @media screen and (max-width: 768px) {
    display:none;
  }
}

.iconoMenuUsuario {
  opacity: 0.5;
}


/* -------------- MENU APLICACIONES --------------------- */

.iconoMenuApps {
  margin-right: 10px;
}

.contenidoMenuApps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 82%;
}

.textSistema {
  font-size: 12px;
  margin-top: 10px;
}

.textInfo {
  font-size: 11px;
  margin-top: 5px;
}

/* -------------------- CONTENIDO --------------------- */

.contenido {
    // padding: 65px 0 0 0;
    // background-color: green;
    
    height: calc(100% - 64px);
    overflow-y:auto;
    margin-top:64px;
    @media screen and (max-width: 768px) {
      height: calc(100% - 56px);
      overflow-y:auto;
      margin-top:56px;
    }
  }








  
 

  
 