<div class="pantalla">

    <div class="principal">
        <div> <img class="imgAvatar" src="https://lh3.googleusercontent.com/a-/AOh14GiHRBMUgYY22IJ_uTtdhXem7IMzgCMsvzp_zxyBbA=s288-cc-rg"> </div>

        <div class="titulo">Bienvenido, Walter Blanco</div>

        <div class="subTitulo">a tu cuenta de acceso para los servicos de la Facultad de Ciencias Económicas - UNLP </div>

        <mat-divider></mat-divider>


    </div>

    

    <div class="accesos">
      

      <div class="contenedor">  
        <div> <img class="imagen" src="https://www.gstatic.com/identity/boq/accountsettingsmobile/privacycheckup_scene_316x112_3343d1d69c2d68a4bd3d28babd1f9e80.png" ></div>
        <div><button class="botones" mat-raised-button routerLink="/sistema/mis_datos">MI PERFIL</button></div>
      </div>
      <div class="contenedor">
          <div> <img class="imagen" src="https://www.gstatic.com/identity/boq/accountsettingsmobile/storage_scene_316x112_bda0f3955cae9ffd1501cf9c1103368c.png" ></div>
          <div><button class="botones" mat-raised-button routerLink="/sistema/apps">APLICACIONES</button></div>
      </div>


    </div>

  
</div>