$colorPrimario: #eb3740;


.pantalla {
    display: flex;
    flex-direction: column;
    align-items: center; 
    -webkit-animation: pantalla .8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: pantalla .8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    @media screen and (min-width: 1800px) {
      zoom: 1.2;
    }
  }

  @-webkit-keyframes pantalla {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes pantalla {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }


  .imgTocaMenu {
    margin: 20px 0 0 35px;
    @media screen and (max-width: 768px) {
      display: none;
  }
}
  

.bloqueContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 768px) {
      margin-top: 75px;
  }
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    width: 20px;
    height: 20px;
    font-size: 80px;
    font-weight: 700;
    padding: 40px;
    color: white;
    background-color: $colorPrimario;
    border-radius: 100%;
  }
  
  /* ----------  ANIMACION TITULO  ----------------------- */
  
  .tituloSistema{
    color: #3e3e3e;
    font-size: 35px;
    font-weight: bold;
      -webkit-animation: tituloSistema 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
              animation: tituloSistema 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }
  
   @-webkit-keyframes tituloSistema {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tituloSistema {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  .subTitulo {
    font-weight: 100;
    font-size: 20px;
  }

  .textoDesarrollo {
      margin-top: 100px;
    font-size: 11px;
    color: #333333;
  }
  
  .logoFce {
    max-width: 220px;
    opacity: .8;
  }
  