<div class="imgTocaMenu">
    <img class="imagenTocaMenu" src="/assets/img/menu.png">
  </div>
  
  
  <div class="pantalla">
  
  
    <div class="bloqueContenido">
  
        <div class="logo">i</div>
  
        <div class="tituloSistema">{{tituloSistema}}</div>
  
        <div class="subTitulo">{{subtituloSistema}}</div>
  
  
    </div>
  
    <div class="bloqueContenido">
  
        <!-- <div class="textoDesarrollo"><p>{{desarrolloSistema}}</p></div>
  
        <div><img class="logoFce" src="{{logoSistema}}"></div> -->
  
    </div>
  
  </div>